<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
   
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: [
            <% for (var i = 0; i < eventosDepartamento.length; i++) { %>
              {
                title: '<%= eventosDepartamento[i].title %>',
                start: '<%= eventosDepartamento[i].start %>',
                end: '<%= eventosDepartamento[i].end %>',
                id: '<%= eventosDepartamento[i].id %>' // Asegúrate de tener una propiedad 'id' en tus eventos
              }<% if (i < eventosDepartamento.length - 1) { %>,<% } %>
            <% } %>
          ],
          eventClick: function(info) {
            // Redirige a la vista de detalle con el ID del evento
            window.location.href = "/detalle/" + info.event.id;
          },
        });
        calendar.render();
      });
    </script>
  </head>
  <header><%- include('./partials/header') %></header>
  <body>
    <h1 style="text-align: center; font-size: 50px; text-decoration: underline; color: teal;" class="mb-4 mt-4"><%= departamentoSeleccionado %></h1>
    <div style="max-width: 1200px; margin: auto;" id='calendar'></div>

       <!-- Scripts de Bootstrap y cualquier otro script necesario -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
