<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body style="background-color: rgba(247, 247, 247, 0.9)">
  <header><%- include('./partials/header') %></header>
  <main class="container">
    <div class="card mt-4 col-lg-6 mx-auto" style="
          border: 2px solid #dee2e6;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        ">
      <div class="card-body text-center text-lg">
        <h2 class="card-title">Reserva de: <%= reserva.nombre %></h2>
        <hr class="my-2" />
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Check-In:</strong>
          <%= reserva.fechaCheckIn %>
        </h3>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Check-out:</strong>
          <%= reserva.fechaCheckOut %>
        </h3>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Cantidad de días:</strong>
          <%= reserva.cantidadDias %>
        </h3>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Cantidad de Huéspedes:</strong>
          <%= reserva.cantidadHuespedes %>
        </h3>
        <hr class="my-2" />

        <h2>Facturacion</h2>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Precio por día:</strong> $<%= reserva.precioPorDia.toLocaleString() %>
        </h3>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Total a pagar:</strong> $<%= reserva.total.toLocaleString() %>
        </h3>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Total pagado:</strong> $<%= reserva.senia.toLocaleString() %>
        </h3>
        <h3 class="card-subtitle mb-2 text-muted">
          <strong>Falta pagar:</strong> $<%= reserva.restaPagar.toLocaleString() %>
        </h3>

        <hr class="my-2" />
        <% if (locals.userLogged.admin=="full-admin" ) { %>
          <div class="d-flex justify-content-around align-items-center mt-4 mb-2">
            <a href="/editar/<%= reserva.id %>" class="btn btn-primary btn-lg">Editar</a>
            <form action="/eliminar/<%= reserva.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger btn-lg">
                Eliminar
              </button>
            </form>
          </div>
        <% } else { %>
          <a <% if (locals.userLogged.admin=="full-admin" ) { %>
              href="/users/profile"
            <% } else if (locals.userLogged.admin=="corrientes-admin" ){ %>
              href="/calendario/Corrientes"
            <% } else { %>
              href="/calendario/Las-Heras"
            <% } %>
          >
            <button class="btn btn-success btn-lg fs-4 mt-4 mb-4 ">
              Volver
            </button>
          </a>
        <% } %>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>
