<!-- views/facturacion.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  
  <title>Facturación Mensual</title>

  <!-- Agregar enlaces a Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Puedes cambiar la versión y el enlace según la versión de Bootstrap que prefieras -->
</head>
<header>
  <%- include('./partials/header') %>
</header>
<body >

  <h1 class="text-center mb-4 mt-4">Facturación Mensual para <%= departamento %></h1>
  
  <!-- Formulario centrado con estilos de Bootstrap -->
  <form class="mx-auto mb-4" style="max-width: 300px;" action="/facturacion/<%= departamento %>" method="get">
    <div class="form-group">
      <label for="year"><strong>Año:</strong></label>
      <!-- Convertir el campo de año en un select -->
      <select class="form-control" name="year" id="year">
        <% const yearActual = new Date().getFullYear(); %>
        <% for (let i = 2030; i >= 2000; i--) { %>
          <option value="<%= i %>" <% if (i === yearActual) { %>selected<% } %>><%= i %></option>
        <% } %>
      </select>
    </div>

    <div class="form-group">
      <label for="month"><strong>Mes:</strong></label>
      <!-- Convertir el campo de mes en un select con nombres de meses en español -->
      <select class="form-control" name="month" id="month">
        <% const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']; %>
        <% const mesActual = new Date().getMonth() + 1; %>
        <% for (let i = 0; i < meses.length; i++) { %>
          <option value="<%= i + 1 %>" <% if (i + 1 === mesActual) { %>selected<% } %>><%= meses[i] %></option>
        <% } %>
      </select>
    </div>
    

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
  </form>
  <div class="text-center mb-4">
    <!-- Ordenar las reservas por fecha de check-in -->
    <%
      reservas.sort((a, b) => {
        const fechaA = new Date(a.fechaCheckIn);
        const fechaB = new Date(b.fechaCheckIn);
        return fechaA - fechaB;
      });
    %>
  
  <div class="container-fluid">
    <h2 class="text-center mb-4">
      <% if (!selectedMonth) { %>
        Reservas Totales para <%= departamento %>
      <% } else { %>
        Reservas del Mes de <%= getMonthName(selectedMonth) %> de <%= departamento %>
      <% } %>
    </h2>
  
    <table class="table table-primary mt-4 mb-4">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Desde</th>
          <th>Hasta</th>
          <th>Total</th>
          <th>Pagó</th>
        </tr>
      </thead>
      <!-- Dentro de la etiqueta <tbody> -->
      <tbody>
        <% for (let reserva of reservas) { %>
          <tr>
            <td>
              <a href="/detalle/<%= reserva.id %>">
                <%= reserva.nombre %>
              </a>
            </td>
            <td><%= formatearFecha(reserva.fechaCheckIn) %></td>
            <td><%= formatearFecha(reserva.fechaCheckOut) %></td>
            <td><strong>$ <%= reserva.total.toLocaleString() %> <%= reserva.moneda %></strong></td>
            <td><strong>$ <%= reserva.senia.toLocaleString() %> <%= reserva.moneda %></strong></td>
          </tr>
          <!-- Agregar más detalles de la reserva según tus necesidades -->
        <% } %>
      </tbody>

    </table>
  
    <h2>Total a Facturar en Pesos: $<%= totalPesos.toLocaleString() %></h2>
    <h2>Total a Facturar en Dólares: $<%= totalDolares.toLocaleString() %></h2>

    <h2>Total Pagado en Pesos: $<%= totalPagadoEnPesos.toLocaleString() %></h2>
    <h2>Total Pagado en Dólares: $<%= totalPagadoEnDolares.toLocaleString() %></h2>

    <h2>Resta Pagar en Pesos: $<%= restaPagarEnPesos.toLocaleString() %></h2>
    <h2>Resta Pagar en Dólares: $<%= restaPagarEnDolares.toLocaleString() %></h2>

  </div>

  <!-- Agregar enlace a Bootstrap JS y jQuery (opcional) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Puedes cambiar la versión y el enlace según la versión de Bootstrap que prefieras -->

</body>
</html>
