<!-- views/facturacion.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  
  <title>Facturación Mensual</title>

  <!-- Agregar enlaces a Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Puedes cambiar la versión y el enlace según la versión de Bootstrap que prefieras -->
</head>
<header>
  <%- include('./partials/header') %>
</header>
<body class="container-fluid mt-5">

  <h1 class="text-center mb-4">Facturación Mensual para <%= departamento %></h1>
  
  <!-- Formulario centrado con estilos de Bootstrap -->
  <form class="mx-auto mb-4" style="max-width: 300px;" action="/facturacion/<%= departamento %>" method="get">
    <div class="form-group">
      <label for="year">Año:</label>
      <!-- Convertir el campo de año en un select -->
      <select class="form-control" name="year" id="year">
        <% for (let i = new Date().getFullYear(); i >= 2000; i--) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>

    <div class="form-group">
      <label for="month">Mes:</label>
      <!-- Convertir el campo de mes en un select con nombres de meses en español -->
      <select class="form-control" name="month" id="month">
        <% const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']; %>
        <% for (let i = 0; i < meses.length; i++) { %>
          <option value="<%= i + 1 %>" <% if (i + 1 === parseInt(selectedMonth)) { %>selected<% } %>><%= meses[i] %></option>
        <% } %>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
  </form>
  <div class="text-center mb-4">
    <!-- Ordenar las reservas por fecha de check-in -->
    <%
      reservas.sort((a, b) => {
        const fechaA = new Date(a.fechaCheckIn);
        const fechaB = new Date(b.fechaCheckIn);
        return fechaA - fechaB;
      });
    %>
  
  <h2>Reservas del Mes de <%= getMonthName(selectedMonth) %> : <%= reservas.length %></h2>

    <ul class="list-unstyled">
      <% for (let reserva of reservas) { %>
        <li>
          <%= reserva.nombre %> - 
          Desde: <%= formatearFecha(reserva.fechaCheckIn) %> 
          Hasta: <%= formatearFecha(reserva.fechaCheckOut) %>
        </li>
        <!-- Agregar más detalles de la reserva según tus necesidades -->
      <% } %>
    </ul>
  
    <!-- Utilizar toLocaleString para separar los miles en los totales -->
    <h2>Total Facturado en Pesos: <%= totalPesos.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' }) %></h2>
    <h2>Total Facturado en Dólares: <%= totalDolares.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></h2>

  </div>

  <!-- Agregar enlace a Bootstrap JS y jQuery (opcional) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Puedes cambiar la versión y el enlace según la versión de Bootstrap que prefieras -->

</body>
</html>
