<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head') %>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <style>
    /* Agregar estilos personalizados */
    select.form-select,
    input.form-control {
      background-color: #ffffff; /* Cambiar el color de fondo a blanco */
    }
  </style>
</head>
<header>
  <%- include('./partials/header') %>
</header>
<body class="mt-4">
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Agregar Gastos</h1>

    <!-- Formulario para agregar gastos -->
    <form action="/gastos" method="post">
      <div class="mb-3">
        <label for="tipoGasto" class="form-label"><strong> Tipo de Gasto</strong></label>
        <select class="form-select" id="tipoGasto" name="tipoGasto" required>
          <option value="internet_tv">Internet/TV</option>
          <option value="expensas">Expensas</option>
          <option value="luz">Luz</option>
          <option value="gas">Gas</option>
          <option value="agua">Agua</option>
          <option value="abl">ABL</option>          
        </select>
      </div>

      <div class="mb-3">
        <label for="precio" class="form-label"><strong>Precio</strong></label>
        <input type="number" class="form-control" id="precio" name="precio" required>
      </div>

      <div class="form-group">
        <label for="year" class="form-label"><strong>Año:</strong></label>
        <select class="form-select" name="year" id="year">
          <% const yearActual = new Date().getFullYear(); %>
          <% for (let i = 2030; i >= 2000; i--) { %>
            <option value="<%= i %>" <% if (i === yearActual) { %>selected<% } %>><%= i %></option>
          <% } %>
        </select>
      </div>
  
      <div class="form-group mb-4">
        <label for="month" class="form-label"><strong>Mes:</strong></label>
        <select class="form-select" name="month" id="month">
          <% const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']; %>
          <% const mesActual = new Date().getMonth() + 1; %>
          <% for (let i = 0; i < meses.length; i++) { %>
            <option value="<%= i + 1 %>" <% if (i + 1 === mesActual) { %>selected<% } %>><%= meses[i] %></option>
          <% } %>
        </select>
      </div>

      <!-- Input oculto para el departamento -->
      <input type="hidden" id="departamento" name="departamento" value="<%= locals.userLogged.departamento %>">

      <button type="submit" class="btn btn-primary fs-4">Agregar Gasto</button>
    </form>
  </div>

  <!-- Incluye el JS de Bootstrap y Popper.js (si es necesario) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Scripts de Bootstrap y cualquier otro script necesario -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
